lesson_02/src/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -960,
        -16
      ],
      "id": "b0ba3495-4b50-4108-93ae-705290c1f5f9",
      "name": "When chat message received",
      "webhookId": "cf6c88b1-250b-471e-9539-c27042ad58c8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant.\nUse Wikipedia anytime if needed.\nYour output MUST be ONLY valid JSON and nothing else.\nThe JSON must be an array of exactly two objects with the following structure:\n\n[\n  {\n    \"DATE_TIME\": \"{{$now}}\",\n    \"LOG\": \"Q: {{ $json.chatInput }}\"\n  },\n  {\n    \"DATE_TIME\": \"{{$now}}\",\n    \"LOG\": \"A: <your short answer>\"\n  }\n]\n\n\nUser`s question: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -784,
        -16
      ],
      "id": "1d5edf9e-165d-4968-b856-0a1d7ea25f8e",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -848,
        192
      ],
      "id": "517ad047-f411-4b5b-9e29-d3b201aff5e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0lR4b1vba896Wd5l",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KRtABdeeMwU7Wmn9zYzPoYrHD0MGw1KSXsPxMCmRW2Y",
          "mode": "list",
          "cachedResultName": "n8n homework",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KRtABdeeMwU7Wmn9zYzPoYrHD0MGw1KSXsPxMCmRW2Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KRtABdeeMwU7Wmn9zYzPoYrHD0MGw1KSXsPxMCmRW2Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "LOG": "log",
            "DATE_TIME": "data_time"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE_TIME",
              "displayName": "DATE_TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOG",
              "displayName": "LOG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -304,
        -16
      ],
      "id": "02772fb0-4eb3-4e6c-979a-7e6e5f80b21f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "urbYBVgk6XI3HXnP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -576,
        192
      ],
      "id": "ef4d69f4-a181-4f3e-9273-9774e8ffbf2b",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.first().json.output);\nreturn parsed.map(obj => ({ json: obj }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -16
      ],
      "id": "b8737034-9b47-42ce-9811-0d6b392b221f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0715d7ee-c7f3-4d74-9800-7d0933bae6ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78f803c4da4d59f8f30d2490a53a62276502a979fb145ba26252f49df426e69e"
  },
  "id": "8GkF81Eq9MDNFIN1",
  "tags": []
}